body {
    background-color: wheat;
}
#maindiv {
    margin-left: 20vw;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
#title, #title2 {
    font-size: 25px;
    font-weight: bold;
}
